.swoop {
	position: absolute;
	top: 30%;
	left: 33%;
	scale:0.1;
	opacity: 0;
	animation: swoopIn 4s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards,
			   flyOut 0.3s cubic-bezier(0.7, 0, 1, 1) 4s forwards;
  }
  
  @keyframes swoopIn {
	100% {
	  scale:3;
	  opacity: 1;
	  left: 30%;
	}
  }
  
  @keyframes flyOut {
	100%{
	  scale:6;
	  top: 110%;
	  opacity: 0;
	}
  }
  


.entrance{
	animation: entrance .5s linear 4s 1 forwards;
	opacity:0;
}
@keyframes entrance{
	1%{
		scale:0;
		opacity:.5;
	}
	50%{
		scale:.5;
	}
	100%{
		scale:1;
		opacity:1;
	}
}
.entranceIcons{
	animation: entranceIcons .5s linear 4s 1 forwards;
	opacity:0;
}
@keyframes entranceIcons{
	1%{
		scale:0;
		opacity:.5;
	}
	50%{
		scale:.5;
	}
	100%{
		scale:4.4;
		opacity:1;
	}
}



#header{
	display:block;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
  }
  
img{
	filter:grayscale(100%)
}
h1{
	text-align: center;
	font-size: 2.5rem;
    margin-bottom: 20px;
}

#enter{
	text-align: center;
}

body {
  background-image: url("media/mickey.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#piano{
	position: absolute;
	top: 60px;
	right: 50px;
	scale: 4 4;
}

#pause{
	cursor:pointer;
	position: fixed;
	top: 60px;
	left:50px;
	scale: 4 4;
}

#pause_text{
	position: absolute;
	top: 40px;
	left:120px;
	font-size: 15px;
	width:100px;
}
#unpause{
	cursor:pointer;
	position: fixed;
	top: 60px;
	left:50px;
	scale: 4 4;
	display:none;
	}





.page2{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	margin: auto;
	gap: 20px;
	font-size: 30px;
}

.description_holder{
	display:flex;
	flex-direction: row;
	justify-content: center;
	font-size: 40px;
	text-align: center;	
	margin-top: 40px;
}
#aboutMeText{
	display:none;
}

#recordingsText{
	display:none;
}
#upcomingEventsText{
	display: none;
}
#lessonsText{
	display: none;
}

ul {
  list-style-position: inside;
  text-align: center;
  padding: 0;
}
#contactMeText{
	display: none;
}
a:link {
  color: gray;
  background-color: transparent;

}
 
#about_me:hover{
scale:1.3 1.3;
transition:.2s;
cursor:grab;
}

#recordings:hover{
	scale:1.3 1.3;
	transition:.2s;
	cursor:grab;
	}
	
#upcoming_events:hover{
	scale:1.3 1.3;
	transition:.2s;
	cursor:grab;
	}
		
#lessons:hover{
	scale:1.3 1.3;
	transition:.2s;
	cursor:grab;
	}
	
#contact_me:hover{
	scale:1.3 1.3;
	transition:.2s;
	cursor:grab;
	}

	.recording-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 40px;
		padding:0px;
		
	  }
	
	  video {
		width: 100%;
		height:190px;
		border: 2px solid #ccc;
		border-radius: 8px;
		
	  }
	  





@media only screen and (max-width: 870px) {
	#pause_text {
		display: none;
	}

	#piano{
		position: absolute;
		top: 60px;
		right: 50px;
		scale:3 3;
	}
	#pause{
		cursor:pointer;
		position: fixed;
		top: 60px;
		left:50px;
		scale: 3 3;
	}
	#unpause{
		cursor:pointer;
		position: fixed;
		top: 60px;
		left:50px;
		scale: 3 3;
		display:none;
		}
	}
	
	body {
  background-image: url("media/mickey2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
